# 파이썬 분기문

In [1]:
# 101

# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# bool

In [2]:
# 102

print(3 == 5)

False

In [3]:
# 103

print(3 < 5)

True

In [4]:
# 104

x = 4

print(1 < x < 5)

True

In [5]:
# 105

print((3 == 3) and (4 != 3))

True

In [6]:
# 106

print(3 => 4) # >= 으로 바꿔서 사용해야 함

SyntaxError: ignored

In [8]:
# 107

if 4 < 3:
  print("Hello World")

In [9]:
# 108

if 4 < 3:
  print(("Hello World"))
else:
  print("Hi, there.")

Hi, there.

In [10]:
# 109

if True:
  print("1")
  print("2")
else:
  print("3")
print("4")

1
2
4

In [11]:
# 110

if True:
  if False:
    print("1")
    print("2")
  else:
    print("3")
else:
  print("4")
print("5")

3
5

In [13]:
# 111

user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [16]:
# 112

user = input("숫자를 입력하세요: ")
print(int(user) + 10)

숫자를 입력하세요: 30
40

In [20]:
# 113

user = input("")

if int(user) % 2 == 1:
  print("홀수")
else:
  print("짝수")

30
짝수

In [27]:
# 114

user = input("입력값: ")

if int(user) + 20 > 255:
  print("출력값:", 255)
else:
  print("출력값:", int(user) + 20)

입력값: 240
출력값: 255

In [30]:
# 115

user = input("입력값: ")
num = (int(user) - 20)

if num < 0:
  print("출력값:", 0)
elif num > 255:
  print("출력값:", 255)
else:
  print("출력값:", num)

입력값: 300
출력값: 255

In [31]:
# 116

time = input("현재시간: ")

if time[-2:] == "00":
  print("정각입니다.")
else:
  print("정각이 아닙니다.")

현재시간: 17:01
정각이 아닙니다.

In [33]:
# 117

fruit = ["사과", "포도", "홍시"]

user = input("좋아하는 과일은? ")

if user in fruit:
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [34]:
# 118

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

user = input("종목명: ")

if user in warn_investment_list:
  print("투자 경고 종목입니다.")
else:
  print("투자 경고 종목이 아닙니다.")

종목명: Google
투자 경고 종목입니다.

In [36]:
# 119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("제가 좋아하는 계절은: ")

if user in fruit.keys():
  print("정답입니다.")
else:
  print("오답입니다.")

제가 좋아하는 계절은: 겨울
오답입니다.

In [38]:
# 120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("좋아하는 과일은? ")

if user in fruit.values():
  print("정답입니다.")
else:
  print("오답입니다.")

좋아하는 과일은? 한라봉
오답입니다.

In [40]:
# 121

user = input("")

if user.islower() == True:
  print(user.upper())
else:
  print(user.lower())

A
a

In [41]:
# 122

score = input("score: ")
score = int(score)
if 81 <= score <= 100:
  print("grade is A")
elif 61 <= score <= 80:
  print("grade is B")
elif 41 <= score <= 60:
  print("grade is C")
elif 21 <= score <= 40:
  print("grade is D")
else:
  print("grade is E")

score: 83
grade is A

In [42]:
# 123

user = input("입력: ")
num, currency = user.split(' ')

환율 = {'달러': 1167,
      '엔': 1.096,
      '유로': 1268,
      '위안': 171}

print(float(num) * 환율[currency], '원')

입력: 100 달러
116700.0 원

In [43]:
# 124

number1 = input("number1: ")
number2 = input("number2: ")
number3 = input("number3: ")

number1 = int(number1)
number2 = int(number2)
number3 = int(number3)

number = [number1, number2, number3]

print(max(number))

number1: 10
number2: 9
number3: 20
20

In [46]:
# 125

통신사 = {'011': 'SKT',
       '016': 'KT',
       '019': 'LGU',
       '010': '알수없음'}

user = input("휴대전화 번호 입력: ")

num, num1, num2 = user.split('-')

print('당신은', 통신사[num], '이용자 입니다.')

휴대전화 번호 입력: 019-111-1111
당신은 LGU 이용자 입니다.

In [48]:
# 126

post_number = {'010': '강북구',
               '011': '강북구',
               '012': '강북구',
               '013': '도봉구',
               '014': '도봉구',
               '015': '도봉구',
               '016': '노원구',
               '017': '노원구',
               '018': '노원구',
               '019': '노원구'}

user = input('우편번호: ')
num = user
num = num[:3]

print(post_number[num])

우편번호: 01001
강북구

In [56]:
# 127

id_number = input('주민등록번호: ')
id = id_number.split('-')[1]

if id[0] == '1' or id[0] == '3':
  print("남자")
elif id[0] == '2' or id[0] == '4':
  print("여자")
else:
  print('당신은 로봇입니까?')

주민등록번호: 010101-2020202
여자

In [59]:
# 128

id_number = input('주민등록번호: ')
id = id_number.split('-')[1]

if 0 <= int(id[1:3]) <= 8:
  print('서울입니다.')
else:
  print('서울이 아닙니다.')

주민등록번호: 010101-4090909
서울이 아닙니다.

In [31]:
# 129

id_number = input('주민등록번호: ')
id = id_number.replace('-', '')

first_cal = ((int(id[0])*2) + (int(id[1])*3) + (int(id[2])*4) + (int(id[3])*5) + (int(id[4])*6) + (int(id[5])*7) + \
             (int(id[6])*8) + (int(id[7])*9) + (int(id[8])*2) + (int(id[9])*3) + (int(id[10])*4) + (int(id[11])*5))
second_cal = 11 - (first_cal % 11)
third_cal = str(second_cal)

print(first_cal)
print(second_cal)

if third_cal == id[-1]:
  print('유효한 주민등록번호입니다.')
elif third_cal == '10' and id[-1] == '0':
  print('유효한 주민등록번호입니다.')
else:
  print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210
128
4
유효하지 않은 주민등록번호입니다.

In [12]:
# 130

import requests

btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price']) - int(btc['min_price'])

print('opening_price:', btc['opening_price'])
print('max_price:', btc['max_price'])
print('min_price:', btc['min_price'])
print('변동폭:', 변동폭)

if (int(btc['opening_price']) + 변동폭) > int(btc['max_price']):
  print("상승장")
else:
  print("하락장")

opening_price: 29236000
max_price: 29528000
min_price: 26610000
변동폭: 2918000
상승장

# 파이썬 반복문

In [13]:
# 131

과일 = ["사과", "귤", "수박"]

for 변수 in 과일:
  print(변수)

사과
귤
수박

In [14]:
# 132

for 변수 in 과일:
  print("#####")

#####
#####
#####

In [15]:
# 133

'''
for 변수 in ["A", "B", "C"]:
  print(변수)
'''

print('A')
print('B')
print('C')

A
B
C

In [18]:
# 134

'''
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
'''

print('출력:', 'A')
print('출력:', 'B')
print('출력:', 'C')

출력: A
출력: B
출력: C

In [19]:
# 135

'''
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
'''

변수 = 'A'
b = 변수.lower()
print('변환:', b)
변수 = 'B'
b = 변수.lower()
print('변환:', b)
변수 = 'C'
b = 변수.lower()
print('변환:', b)

변환: a
변환: b
변환: c

In [20]:
# 136

'''
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
'''

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [21]:
# 137

'''
print(10)
print(20)
print(30)
'''

for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [25]:
# 138

'''
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
'''

for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [26]:
# 139

'''
print("++++")
print(10)
print(20)
print(30)
'''

print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [27]:
# 140

'''
print("-------")
print("-------")
print("-------")
print("-------")
'''

for i in range(4):
  print("-------")

-------
-------
-------
-------

In [29]:
# 141

리스트 = [100, 200, 300]

for i in 리스트:
  print(i + 10)

110
210
310

In [30]:
# 142

리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
  print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [31]:
# 143

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
  print(len(i))

6
4
4

In [32]:
# 144

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i, len(i))

dog 3
cat 3
parrot 6

In [33]:
# 145

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i[0])

d
c
p

In [34]:
# 146

리스트 = [1, 2, 3]

for i in 리스트:
  print('3 x', i)

3 x 1
3 x 2
3 x 3

In [35]:
# 147

리스트 = [1, 2, 3]

for i in 리스트:
  print('3 x {} = {}'.format(i, 3 * i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [38]:
# 148

리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]:
  print(i)

나
다
라

In [39]:
# 149

리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
  print(i)

가
다

In [40]:
# 150

리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
  print(i)

라
다
나
가

In [41]:
# 151

리스트 = [3, -20, -3, 44]

for i in 리스트:
  if i < 0:
    print(i)

-20
-3

In [42]:
# 152

리스트 = [3, 100, 23, 44]

for i in 리스트:
  if i % 3 == 0:
    print(i)

3

In [43]:
# 153

리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
  if i % 3 == 0 and i < 20:
    print(i)

12
18

In [44]:
# 154

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
  if len(i) >= 3:
    print(i)

study
python
language

In [45]:
# 155

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.isupper():
    print(i)

A
D

In [46]:
# 156

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
  if i.islower():
    print(i)

b
c

In [48]:
# 157

리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
  print(i.capitalize())

Dog
Cat
Parrot

In [49]:
# 158

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
  print(i.split('.')[0])

hello
ex01
intro

In [50]:
# 159

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  if i.split('.')[1] == 'h':
    print(i)

intra.h
define.h

In [51]:
# 160

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
  split = i.split('.')
  if split[1] == 'h' or split[1] == 'c':
    print(i)

intra.h
intra.c
define.h

In [52]:
# 161

for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [56]:
# 162

for i in range(2002, 2051, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [58]:
# 163

for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [61]:
# 164

for i in range(100):
  print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [63]:
# 165

for i in range(10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166