In [ ]:
# 201

def print_coin():
  print("비트코인")

print_coin()

비트코인

In [ ]:
# 202

print_coin()

비트코인

In [ ]:
# 203

for i in range(100):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 204

def print_coins():
  for i in range(100):
    print_coin()

print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 205

'''
hello()
def hello():
    print("Hi")
'''

# hello()가 정의되지 않았음

'\nhello()\ndef hello():\n    print("Hi")\n'

In [ ]:
# 206

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
# 207

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [ ]:
# 208

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [ ]:
# 209

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
# 210

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [ ]:
# 211

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213

'''
def 함수(문자열) :
    print(문자열)
'''

'''
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'
'''

# 함수()에는 문자열이 필요한데, 아무런 문자열도 적지 않아서 에러가 발생

"\n함수()\nTypeError: 함수() missing 1 required positional argument: '문자열'\n"

In [ ]:
# 214

'''
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
'''

'''
TypeError: must be str, not int
'''

# 함수()는 같은 타입의 두 값만 들어갈 수 있으나, 서로 다른 타입인 str과 int를 넣어서 에러가 발생

'\nTypeError: must be str, not int\n'

In [ ]:
# 215

def print_with_smile(string):
  print(string + ':D')

print_with_smile('아')

아:D

In [ ]:
# 216

print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
# 217

def print_upper_price(a):
  print(a * 1.3)

print_upper_price(100000)

130000.0

In [ ]:
# 218

def print_sum(a, b):
  print(a + b)

print_sum(1, 2)

3

In [ ]:
# 219

def print_arithmetic_operation(a, b):
  print(a + b)
  print(a - b)
  print(a * b)
  print(a / b)

print_arithmetic_operation(5, 9)

14
-4
45
0.5555555555555556

In [ ]:
# 220

def print_max(a, b, c):
  max_val = 0
  if a > max_val:
    max_val = a
  if b > max_val:
    max_val = b
  if c > max_val:
    max_val = c
  print(max_val)

print_max(1, 2, 3)

3

In [3]:
# 221

def print_reverse(string):
  print(string[::-1])

print_reverse('python')

nohtyp

In [4]:
# 222

def print_score(score_list):
  print(sum(score_list)/len(score_list))

print_score([1, 2, 3])

2.0

In [5]:
# 223

def print_even(num_list):
  for i in num_list:
    if i % 2 == 0:
      print(i)

print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [10]:
# 224

def print_keys(my_dict):
  for i in my_dict.keys():
    print(i)

print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [11]:
# 225

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_keys(my_dict, key):
  print(my_dict[key])

print_value_by_keys(my_dict, '10/26')

[100, 130, 100, 100]

In [20]:
# 226

def print_5xn(string):
  chunk_num = int(len(string) / 5)
  for i in range(chunk_num + 1):
    print(string[i * 5 : i * 5 + 5])

print_5xn("아이엠어보이유알어걸아이엠어보이유알어걸아")

아이엠어보
이유알어걸
아이엠어보
이유알어걸
아

In [21]:
# 227

def print_mxn(string, a):
  chunk_num = int(len(string) / a)
  for i in range(chunk_num + 1):
    print(string[i * a : i * a + a])

print_mxn('아이엠어보이유알어걸', 4)

아이엠어
보이유알
어걸

In [23]:
# 228

def calc_monthly_salary(annual_salary):
  print(int(annual_salary / 12))

calc_monthly_salary(120000003)

10000000

In [24]:
# 229

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [25]:
# 230

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [28]:
# 231

'''
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
'''

'\ndef n_plus_1 (n) :\n    result = n + 1\n\nn_plus_1(3)\nprint (result)\n'

In [32]:
# 232

def make_url(string):
  print('www.{}.com'.format(string))

make_url("naver")

www.naver.com

In [35]:
# 233

def make_list(string):
  made_list = []
  for i in range(int(len(string))):
    made_list.append(string[i])
  return made_list

make_list("abcd")

['a', 'b', 'c', 'd']

In [36]:
# 234

def pickup_even(my_list):
  even = []
  for i in my_list:
    if i % 2 == 0:
      even.append(i)
  print(even)

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [38]:
# 235

def convert_int(num_with_comma):
  return int(num_with_comma.replace(',', ''))

convert_int("1,234,567")

1234567

In [39]:
# 236

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)    # 22

22

In [40]:
# 237

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)    # 22

22

In [41]:
# 238

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)    # 140

140

In [42]:
# 239

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)    # 16

16

In [43]:
# 240

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)    # 28

28

# 파이썬 모듈

In [45]:
# 241

import datetime

now = datetime.datetime.now()

print(now)

2022-06-17 13:22:28.940528

In [47]:
# 242

print(now, type(now))

2022-06-17 13:22:28.940528 <class 'datetime.datetime'>

In [51]:
# 243

for day in range(5, 0, -1):
  delta = datetime.timedelta(days=day)
  date = now - delta
  print(date)

2022-06-12 13:22:28.940528
2022-06-13 13:22:28.940528
2022-06-14 13:22:28.940528
2022-06-15 13:22:28.940528
2022-06-16 13:22:28.940528

In [60]:
# 244

print(now.strftime("%H:%M:%S"))

13:22:28

In [63]:
# 245

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [64]:
# 246

import time

while True:
  now = datetime.datetime.now()
  print(now)
  time.sleep(1)

2022-06-17 13:32:37.678496
2022-06-17 13:32:38.682158
2022-06-17 13:32:39.683484
2022-06-17 13:32:40.684808
2022-06-17 13:32:41.686072
2022-06-17 13:32:42.687332
2022-06-17 13:32:43.688705
2022-06-17 13:32:44.689974
2022-06-17 13:32:45.691227
2022-06-17 13:32:46.692536
2022-06-17 13:32:47.693842
2022-06-17 13:32:48.695194
2022-06-17 13:32:49.696578
2022-06-17 13:32:50.697978
2022-06-17 13:32:51.698610
2022-06-17 13:32:52.699600
2022-06-17 13:32:53.700938
2022-06-17 13:32:54.702259
2022-06-17 13:32:55.703527
2022-06-17 13:32:56.704809
2022-06-17 13:32:57.706090
2022-06-17 13:32:58.707449
2022-06-17 13:32:59.708770
2022-06-17 13:33:00.710110
2022-06-17 13:33:01.711456
2022-06-17 13:33:02.712867
2022-06-17 13:33:03.714144
2022-06-17 13:33:04.715578
2022-06-17 13:33:05.716903
2022-06-17 13:33:06.718174
2022-06-17 13:33:07.719576
2022-06-17 13:33:08.720933
2022-06-17 13:33:09.722193
2022-06-17 13:33:10.723476
2022-06-17 13:33:11.724859
2022-06-17 13:33:12.726204
2022-06-17 13:33:13.727520
2022-06-17 13:33:14.727882
2022-06-17 13:33:15.729211
2022-06-17 13:33:16.730521
2022-06-17 13:33:17.731863
2022-06-17 13:33:18.733167
2022-06-17 13:33:19.734449
2022-06-17 13:33:20.735688
2022-06-17 13:33:21.736981

KeyboardInterrupt: ignored

In [65]:
# 247

In [67]:
# 248

import os

print(os.getcwd(), type(os.getcwd()))

/content <class 'str'>

In [68]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [69]:
# 249

os.rename("/content/drive/MyDrive/d.gdoc", "/content/drive/MyDrive/ddd.gdoc")

In [71]:
# 250

import numpy as np

for i in np.arange(0, 5, 0.1):
  print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

# 파이썬 클래스

In [72]:
# 251

In [73]:
# 252

class Human:
  pass

In [74]:
# 253

class Human:
  pass

areum = Human()

In [76]:
# 254

class Human:
  def __init__(self):
    print("응애응애")

areum = Human()

응애응애

In [79]:
# 255

class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("아름", 25, "여자")

print(areum.name)

아름

In [81]:
# 256

print(areum.name, areum.age, areum.sex)

아름 25 여자

In [84]:
# 257

class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex
  
  def who(self):
    print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

areum = Human("조아름", 25, "여자")

areum.who()

이름: 조아름, 나이: 25, 성별: 여자

In [92]:
# 258

class Human:
  def __init__(self, name="모름", age=0, sex="모름"):
    self.name = name
    self.age = age
    self.sex = sex

  def who(self):
    print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human()
Human.who(areum)

areum.setInfo("아름", 25, "여자")
areum.who()

이름: 모름, 나이: 0, 성별: 모름
이름: 아름, 나이: 25, 성별: 여자

In [98]:
# 259

class Human:
  def __init__(self, name="모름", age=0, sex="모름"):
    self.name = name
    self.age = age
    self.sex = sex

  def __del__(self):
    print("나의 죽음을 적에게 알리지 마라.")

  def who(self):
    print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

  def setInfo(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 적에게 알리지 마라.

In [104]:
# 260

class OMG : 
    def print(self) : # self가 빠져서 에러가 나는 것임
        print("Oh my god")

my_stock = OMG()
my_stock.print()

# OMG.print(my_stock)

Oh my god

In [ ]:
# 261